$typeface:'Niramit', sans-serif;
$background-color: #ccc;
$primary-color: #999;
$radius:10px;
$margin:20px;


@mixin background-opacity($color, $opacity) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  font-family:$typeface;
}
header.primary{
  background-color:aqua;
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 1;
 border-radius: 10px;}
 .topnav ul{
  background-color: $primary-color;
 }

