/*Resests Box Model*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Figtree", serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-image:url(https://images.pexels.com/photos/4391607/pexels-photo-4391607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height:100%;
    background-repeat: no-repeat;
	background-size: cover;
	font-size: 16px;
	line-height: 1.5em;
	--edge: 10px;
	--value: 24;
	--unit:var(--unit);
}

#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #2e9999c9;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#body-main{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 10px;
}
#header-main{
	grid-column:2/3;
    margin:10px;
	padding:40px;
	background-color:paleturquoise;
	display: flex;
	clear: both;
}
header.primary{
	color:#CCC;
    margin:10px;
	padding: 10px;
	background-color:rgb(76, 44, 131);
	border-radius: 10px;
	clear: both;
	grid-column-start: 2;
	grid-column-end:10 ;
	grid-row-start: 2;
	grid-row-end: 2;
	
}

header.primary nav ul li a{
    border: 3px solid #5FA0D9;
    border-right:10px solid #5FA0D9;
    border-radius:10px 0;
    color:white;
    display:block;
    background-color:rgba(56, 213, 219, 0.837);
    padding:5px 5px 5px 0;
    text-align:center;
    transition: .5s;
    text-decoration:none;
    margin-top:40px;
	list-style-type: none;
  }
  header.primary nav ul li a{
    border: 3px solid #5FA0D9;
    border-right:10px solid #5FA0D9;
    border-radius:10px 0;
    color:white;
    display:block;
    background-color:rgba(0,0,0,.6);
    padding:5px 5px 5px 0;
    text-align:center;
    transition: .5s;
    text-decoration:none;
    margin-top:40px;

  }
nav{    
	background-color:rgba(66, 2, 79, 0.832) ;
    overflow: hidden;
	list-style-type: none;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
	margin-top: 20px;
	border-radius: 10px;
}
nav a{
	float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	
}
nav a:hover{
	background-color: #022348;
    color: rgb(255, 253, 253);
}
#title h1{
	text-align: center;
}


#header h1 a{
	width: 800px; 
	height: 140px;
	background-image: url("../img/header1.jpg");
	display: block;
    text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
	
  }
 



#content {
	margin: 40px;
	
}
#content ul li a:hover{
background-color: #22d4ef;
 }
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
h2{
	color:#023c3f;
	padding:7.5px;
	border-radius:15px 0;
}

h3{
	color:#02293f;
	padding:7.5px;
	border-radius:15px 0;
}
h4{
	color:#024c54;
	padding:7.5px;
	border-radius:15px 0;
}
img {
	float:right;
    display:flex;
	border: 3px solid #1d8188;
    margin: 10px,10px;
}
.alert{
	background-color: #dfb20d;
	color:#1d8188c6
}
footer {
	background-color:#1c4fac;
	color: #FFF;
	height: 50px;
	padding: 10px;

}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
@media screen and(max-width:600px) {
	.row {
		grid-template-columns:1fr ;
	}

}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-resolution:200dpi)