/**/
* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image:url(https://thomaswallace.net/projects/pre-assessment/bg-tile.jpg);
	background-repeat: repeat-x;
	background-color:#b9b7b7e1 ;
	font-size: 16px;
	line-height: 1.5em;
}

#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #ffffffc9;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header {	
}
#header h1 {
	width: 800px; 
	height: 140px;
	background: url("../img/header1.jpg");
	text-indent: -9999px;

  }

#nav {
	background-color: #57182f;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #fbfbfc;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #22d4ef;
}

#content {
	margin: 20px;
}
#content ul li a:hover{
background-color: #22d4ef;
 }
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
#footer {
	background-color: #8f0788;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}