html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Gentium Plus", serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  margin: 0;
  padding:10px;
  line-height: 1;
}
main{
  display: grid;

}


