:root{
  --main-bg-color:rgb(247, 244, 235);
  --primary-type-color: #222222;
  --accent-color-1:rgba(97, 154, 180, 1);
  --accent-color-2:rgba(51, 109, 135, 1);

}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
img {
  max-width: 100%;
}


.container {
    max-width: 100%; 
    margin: 0;
    background: var(--main-bg-color);
   
  }
  main.container{
    display:grid;
    grid-template-areas:
      "slideshow"
      "intro"
      "reviews"
     
      ;
  }

body{
  background-color: var(--main-bg-color);
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  margin:0;
  padding: 0;
}
#main-header{
  background-color:var(--accent-color-1);
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
 
}
#main-header h1{
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
 margin-left: 20px;
 margin-top: 10px;

}
.head{
text-align: center;
margin-left: 10px;
margin-top: -35px;
}


nav{ 
  width:100%;


}
 nav ul{
  background-color:var(--accent-color-2);
  list-style-type: none;
  padding:20px;

 }
 nav li { 
  
  list-style-type: none;
  display: inline;
color: #f2f2f2;
 }
 nav a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
padding: 10px;
 }
nav a:hover{
background-color: var(--accent-color-1);
}

.slideshow {
  max-width: 100%;
 position: relative;



}


.mySlides {
  display: none;

}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.intro{
margin:400px 20px 0 20px;
  text-align: center;
  font-size: 10px;
}
.testimonials{
  font-size: 10px;
  margin: 40px;
  
}

h3{
  grid-column-start: 4;
  grid-column-end:8;
  text-align: center;
  margin-top: -400px;
 
}
h2{
  grid-column-start: 8;
  grid-column-end:10;
  text-align: center;
  margin-top: -5px;

}

footer{
  background-color: var(--accent-color-2);
  grid-row-start: 6;
  grid-row-end: 8;
  max-width: 100%;
  text-align: center;
  color:#f2f2f2;
}
footer a{
  color:#f2f2f2;
  text-decoration: none;
}

@media screen and (min-width:768px){
  main.container{
    max-width:100%;
    display: grid;
    font-size: 10px;
    grid-template: repeat(4, auto) /2fr;
    grid-template-areas:
    "slideshow slideshow slideshow sliedshow"
      "intro intro intro intro"
      "reviews reviews reviews reviews"
   ;  
  
    }
  header.container{
  max-width: 900px;
 
 

  
  
  }
  h1{
    font-size: 10px;
  }
    nav.primary ul{
      display: grid;
      grid-template-columns: 40% auto ;
     grid-template-areas: 
     "nav nav nav nav"
     ;
     
    }
  

    .slideshow{
      grid-area:slideshow;
     max-width: 900px;
    }
   
    .intro{
     grid-area:intro;
     margin: 40px;
     
    }
    p{
      margin:40px;
    }
    .reviews{
      
      grid-area: reviews;
    }
  
    footer{
      max-width: 100%;
     
    }
  }

  

