:root{
  --main-bg-color:rgb(247, 244, 235);
  --primary-type-color: #222222;
  --accent-color-1:rgba(97, 154, 180, 1);
  --accent-color-2:rgba(51, 109, 135, 1);

}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
main{
  padding:2px 30px;
}
img {
  max-width: 100%;
}


.container {
    max-width: 420px; 
    margin: 0 auto;
    background: var(--main-bg-color);
    margin:20px;
  }
   

body{
  background-color: var(--main-bg-color);
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  display: grid;

}
#main-header{
  background-color:var(--accent-color-1);
  height:150px;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
 
}
#main-header h1{
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
 margin-left: 20px;
 margin-top: 10px;

}
.head{
text-align: center;
margin-left: 10px;
margin-top: -35px;
}


nav{ 
  width:100%;
  margin-top: 10px;

}
 nav ul{
  background-color:var(--accent-color-2);
  list-style-type: none;
  padding:20px;

 }
 nav li { 
  
  list-style-type: none;
  display: inline;
color: #f2f2f2;
 }
 nav a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
padding: 10px;
 }
nav a:hover{
background-color: var(--accent-color-1);
}
.main-img{
  max-width: 100%;
  
}
.intro{
  margin-top: -400px;
}
h3{
  grid-column-start: 4;
  grid-column-end:8;
  text-align: center;
  margin-top: -100px;
 
}
h2{
  grid-column-start: 8;
  grid-column-end:10;
  text-align: center;

}

footer{
  background-color: var(--accent-color-2);
  grid-row-start: 6;
  grid-row-end: 8;
  max-width: 100%;
}
@media screen and (min-width:768px){
  

  #main-header{
    max-width: 900px;
  }
.container{
  max-width:900px;
  grid-template-columns: 36.5% auto;  
  grid-template-areas:
    "main-img main-img"
    "intro intro"
    ; 
    margin-right:-40px; 
  }
.main-img{
  max-width: 900px;
  height:400px;
  grid-area:main-img;
  margin-left:120px;
 
  
}
.intro{
  margin-top: 400px;
  grid-area:intro;
}
.reviews{
  grid-area: reviews;
}
  

  
  
}